<!DOCTYPE html>
<html>
    <head>
        <title>Game Lib</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    </head> 
    <body class="container">
        <h1>Game Lib<a href="new-entry" class="btn btn-primary pull-right">Add Game To Lib</a></h1>