<% include header %>
<h2>Add New Game</h2>

<form method="post" role="form">
    <div class="form-group">
        <label for="title">Name of Game</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Contra" required>
    </div>
    <div class="form-group">
            <label for="content">Description of Game</label>
            <textarea class="form-control" id="body" name="body" placeholder="Contra is a game developed by..." rows="3" required></textarea>
    </div>
    <div class="form-group">
            <input type="submit" value="Post Game" class="btn btn-primary">
    </div>
</form>

<% include footer %>